{% extends 'layout.html.twig' %}
{% block title %}All Art{% endblock %}
{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            {% for oeuvre in details %}
                <div class="teub col-3 offset-1 mx-3 my-4" style="width: auto; height: 500px">
                    <div class="" style=>
                        <a class="content-deco" href="/Art/artConsult/{{ oeuvre.objectID }}">
                            <img class="card-img-top" src="{{ oeuvre.primaryImageSmall }}" alt="Card image cap">
                        </a>
                        <div class="card-body" style="overflow-wrap: break-word">
                            <p class="card-title">{{ oeuvre.title }}</p>
                            <div class="d-flex justify-content-center">
                                <a href="/Art/artConsult/{{ oeuvre.objectID }}" class="btn btn-primary" style="position: absolute; bottom: 15px">Consult this
                                    art</a>
                            </div>
                        </div>
                    </div>
                </div>


            {% endfor %}
        </div>
    </div>
{% endblock %}