{% extends 'layout.html.twig' %}
{% block content %}

<h1>Peut-on s'en servir pour donner de l'élan à un Pigeon?</h1>

    {% block image %}
        <h1>Some art you could be interest by: </h1>
    <div class="container-fluid w-70 " >
        <div class="container">
            <img class="mw-100" style="max-height: 70vh" src="{{ details.primaryImage }}">
            <div class="">
                <h3>Title: {{ details.title }}</h3>
                <p>Exposition place: {{ details.repository }} Artist: {{ details.artistDisplayName }}</p>

            </div>
        </div>
    {% endblock %}
{% endblock %}