{% extends 'layout.html.twig' %}

{% block content %}
<h1>Peut-on s'en servir pour donner de l'élan à un Pigeon?</h1>


<img src="{{ details.picture }}" alt="{{ details.title }}"/>
<h1>{{ details.title }}</h1>
<p>{{ details.repository }}</p>

    {% block caroussel %}{% endblock %}
{% endblock %}

