{% extends 'layout.html.twig' %}
{% block title %}Lézartist du Oueb{% endblock %}
{% block content %}

    {% block image %}
        <img src="/assets/images/love.svg" width="200px" height="auto" class="pigeon" onclick="pigeonLeave()" style="">
        <div class="text-div">
            <h2 class="content-deco">Welcome to Lézartist du Oueb's website! </h2>
            <h3 class="content-deco">Here you can discover exposed art from the Metropolitan Museum of Art based at
            New York even staying on your sofa!</h3>
            <h3 class="content-deco">Here is an Artwork you could be interested by, we hope you enjoy your journey :)</h3>
        </div>
        <div class="container-fluid w-70 ">
            <div class="row d-flex flex-wrap">
                <div class="col-5">
                    <a class="content-deco" href="/Art/artConsult/{{ details.objectID }}">
                        <img class="indexImage" src="{{ details.primaryImageSmall }}" style="width: 100%; height: auto">
                    </a>
                    <div class="row">
                        <a href="/Art/artConsult/{{ details.objectID }}" class="btn btn-primary my-2 mx-auto">Consult
                            this art</a>
                    </div>
                </div>
                <div class="col-5 offset-2 text-div">
                    <h1 class="content-deco">Title:</h1>
                    <h2 class="content-deco">{{ details.title }}</h2>
                </div>
            </div>
            <div id="questionpigeon" style="display: none">
                <h2 class="content-deco text-div my-4">Can we use it to give momentum to a pigeon?</h2>
                <h4 class="content-deco text-div">Vote here: </h4>
                <div class="">
                    <a class="" href="/Art/index">
                        <button class="my-3 buttoncenter1" onclick="pigeonBack()">Of course</button>
                    </a>
                    <a class="" href="/Art/index">
                        <button class="my-3 buttoncenter2" onclick="pigeonBack()">No Way</button>
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}