.body {
    color: #FFF6F7;
    text-align: center;
}

.cadre {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    padding: 1rem;
    margin-bottom: 3rem;
    background-color: #c4c13c;
    border-radius: .25rem
}

.teub {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.65);
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}

.pigeon {
    position: absolute;
    z-index: 1000;
    bottom: 0;
    left: -130px;
}

.content-background {
    background-image: url("/assets/images/fond-perceval.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.image {
    width: 90%;
    height: auto;
}

.indexImage {
    width: auto;
    height: 50vh;
}

.navbar {
    background-image: url("/assets/images/bois2.jpg");
    height: 100vh;
    border-right: black 1px solid;
}

.navbarImage {
    width: 80%;
    padding-bottom: 2rem;
}

.div-container {
    padding: 0;
    margin: 0;
}

.nav-links {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 2vw;
    color: #FFF6F7;
}

.content-deco {
    align-items: center;
    text-align: center;
}

.text-div {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}



.center {
    text-align: center;
    justify-content: center;
    margin: auto;
}

